@using RepositoriosHospital.Models
@model IEnumerable<RepositoriosHospital.Models.DEPT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Localidad</th>
        <th></th>
    </tr>
@foreach (DEPT d in Model) {
    <tr>
        <td>@d.Nombre</td>
        <td>@d.Localidad</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=d.Numero }) |
            @Html.ActionLink("Details", "Details", new { id=d.Numero }) |
            @Html.ActionLink("Delete", "Delete", new { id=d.Numero })
        </td>
    </tr>
}

</table>
