@using RepositoriosHospital.Models
@model List<EMP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Apellido</th>
        <th>Salario</th>
        <th></th>
    </tr>
@foreach (EMP d in Model) {
    <tr>
        <td>@d.APELLIDO</td>
        <td>@d.SALARIO</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=d.DEPT_NO }) |
            @Html.ActionLink("Details", "Details", new { id= d.DEPT_NO }) |
            @Html.ActionLink("Delete", "Delete", new { id= d.DEPT_NO })
        </td>
    </tr>
}

</table>
