@using Inyeccion.Models
@model List<Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th></th>
    </tr>
@foreach (Producto prod in Model) {
    <tr>
        <td>@prod.Nombre</td>
        <td><img src="~/Images/@prod.Imagen" style="width:150px; height:150px;"/></td>
        <td>@prod.Precio €</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
