@using ProyectoMVCEF.Models
@model List<EMP>

@{
    ViewBag.Title = "EmpleadosDepartamento";
}

@{
    List<DEPT> departamentos = ViewBag.Departamentos;
    ResumenEmpleados resumen = ViewBag.Resumen;
}
<h2>EmpleadosDepartamento</h2>

<form method="post">
    <select name="departamento" class="form-control">
        @foreach (DEPT dep in departamentos)
        {
            <option value="@dep.DEPT_NO">@dep.DNOMBRE</option>
        }
    </select>
    <button type="submit" class="btn-success">Mostrar empleados</button>
</form>

@if (Model != null)
{
    <hr />
    <dl>
        <dt>Personas: @resumen.Personas</dt>
        <dt>Suma salarial: @resumen.SumaSalarial</dt>
        <dt>Media Salarial: @resumen.MediaSalarial</dt>
        <dt>Maximo salario: @resumen.MaximoSalario</dt>
    </dl>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>APELLIDO</th>
            <th>OFICIO</th>
            <th>SALARIO</th>
        </tr>
        @foreach (EMP emp in Model)
        {
            <tr>
                <td>@emp.APELLIDO</td>
                <td>@emp.OFICIO</td>
                <td>@emp.SALARIO</td>
            </tr>
        }
    </table>
}