@using ProyectoMVCEF.Models
@model PAGINARDOCTORES_Result

@{
    ViewBag.Title = "PaginarEmpleadosSimple";
}

<h2>Paginar Doctores Simple</h2>

@if (Model != null)
{
    <table class="table table-hover table-striped">
        <thead>
            <th>APELLIDO</th>
            <th>SALARIO</th>
            <th>HOSPITAL</th>
            <th>ESPECIALIDAD</th>
        </thead>
        <tbody>
            <tr>
                <td>@Model.APELLIDO</td>
                <td>@Model.SALARIO</td>
                <td>@Model.NOMBRE</td>
                <td>@Model.ESPECIALIDAD</td>
            </tr>
            <tr>
                <td colspan="5">
                    | @Html.ActionLink("Primero", "PaginarDoctoresSimple", "Empleados", new { posicion = 1 }, null) |
                    @Html.ActionLink("Anterior", "PaginarDoctoresSimple", "Empleados", new { posicion = ViewBag.Anterior }, null) |
                    @Html.ActionLink("Siguiente", "PaginarDoctoresSimple", "Empleados", new { posicion = ViewBag.Siguiente }, null) |
                    @Html.ActionLink("Último", "PaginarDoctoresSimple", "Empleados", new { posicion = ViewBag.Ultimo }, null) |
                </td>
            </tr>
        </tbody>
    </table>
    <h4>@ViewBag.Mensaje</h4>
}
